html, body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Russo One', sans-serif;
    perspective: 1000px;
}
canvas{
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
}
.hud-wrap{
    width: 1200px;
    height: 700px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    font-size: 36px;
    transform: rotateY(0deg);
    transition: transform 0.6s ease-in-out;
}
.hud-wrap > *{
    position: absolute;
    width: 300px;
}
#speed{
    bottom: 50px;
    left: 50px;
    transform: rotate3d(-0.5,1,0,40deg);
}
#distance{
    bottom: 50px;
    right: 50px;
    transform: rotate3d(0.5,1,0,40deg);
}
#score{
    top: 50px;
    right: 50px;
    transform: rotate3d(0.5,-1,0,40deg);
}